.folder {
  margin-top: 6px;
  background-color: bisque;
  display: flex;
  justify-content: space-between;
  padding: 3px;
  width: 300px;
  cursor: pointer;
}

.folder > span {
  margin: 0px, 5px, 2px, 3px;
}

.file {
  margin-top: 5px;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
}
